* {
  margin: 0;
  padding: 10px;
  box-sizing: border-box;

  --text-color: #000;
  --back-color: #fff;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--back-color);
  z-index: 1;

  /* Box shadow specification from:
        https://getcssscan.com/?ref=beautifulboxshadow_header_logo */
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

nav .container {
  display: flex;
  justify-content: center;
}

nav a {
  padding: 10px 20px;
  border-radius: 15px;
}

nav a:hover {
  opacity: 100%;
}

body {
  font-family: "Poppins", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  margin: auto;
  width: 80%;
}

a {
  padding: 5px 10px;
  border-radius: 15px;
  text-decoration: none;
  color: var(--text-color);
  /* overflow: hidden; */
}

a:hover {
  background-color: var(--text-color);
  color: var(--back-color);
  opacity: 80%;
}

footer {
  font-size: 12px;
  margin: auto;
  text-align: center;
}

#welcome-section {
  min-height: 100vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  /* margin: auto; */
  /* max-width: 20%; */
}

/* #welcome-title {
  max-width: 1000px;
  background-color: red;
} */

#welcome-section h1 {
  /* white-space: nowrap; */
  font-size: clamp(14px, 500px, 100px);
  font-weight: 900;
  padding-top: 15%;
  text-align: center;
  /* width: 100%; */
}

#welcome-section h3 {
  margin-top: 20vh;
  font-size: 50px;
  font-weight: 900;
}

#profile {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 5px;
  width: 70%;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}

.section-title {
  text-align: center;
  margin: 100px auto auto auto;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project-tile {
  display: flex;
  flex-direction: column;
  flex-basis: 300px;
  justify-content: space-between;
  margin: 10px;
  padding: 20px 10px;
  border: 2px var(--text-color) solid;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}

.project-tile .flex-item:nth-child(2) {
  display: flex;
  justify-content: flex-start;
  flex-basis: 200px;
}

.project-tile:hover {
  background-color: var(--text-color);
  color: var(--back-color);
}

.project-tile:hover * {
  background-color: var(--text-color);
  color: var(--back-color);
}

.project-tile .project-tile-link {
  filter: invert(100%);
}

.project-tile-link {
  margin-left: 10px;
  background-color: var(--text-color);
  color: var(--back-color);
}

.form-group {
  border-radius: 20px;
}

.form-group input {
  display: block;
  margin-bottom: 10px;
  border-radius: 10px;
  border-style: solid;
}

.hide {
  visibility: hidden;
}

i {
  font-size: 100px;
}

@media screen and (max-width: 1000px) {
  .flex-container {
    display: block;
    padding-top: 10px;
    margin: auto;
  }
}

@media screen and (max-width: 320px) {
  * {
    padding: 0;
  }
}
