:root {
  --color-primary: #fff;
  --color-background: #000;
  --color-background-secondary: #f2f2f2;
  --color-background-tertiary: #cecece;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  flex: 1 0 auto;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 22px;
}

nav ul {
  justify-content: space-between;
}

nav li {
  padding-left: 10px;
}

ul {
  display: flex;
  align-items: center;
}

main {
  margin: 0 auto;
  padding: 0 100px;
  width: 80%;
  height: 100%;
  /* aspect-ratio: 16 / 9; */
  text-align: center;
}

main h1 {
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 90px;
  font-weight: 600;
  letter-spacing: -3px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

footer {
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-background-secondary);
  padding-top: 2px;
}

footer a,
footer p {
  font-size: 15px;
}

footer .country {
  padding: 20px 40px;
}

footer .google {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--color-background-tertiary);
  /* border: 1px gray solid; */
}

input {
  font-size: 16px;
}

input[type="button"] {
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
  border-style: none;
  margin: 30px 5px;
}

input[type="button"]:hover {
  box-shadow: 0 0 0 1px #d0d0d0;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

input[type="text"] {
  display: block;
  width: 100%;
  border-radius: 55px;
  border: 1px solid var(--color-background-tertiary);
  padding: 12px 10px 12px 40px;
}

#languages {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

ul {
  display: flex;
  gap: 20px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 800px) {
  main {
    aspect-ratio: 16 / 9;
    width: fit-content;
  }

  footer .google {
    flex-wrap: wrap;
    justify-content: center;
    width: fit-content;
  }

  .search-btn-group {
    display: flex;
    justify-content: center;
    margin: auto;
  }
}
